In [22]:
import numpy as np
import pandas as pd

In [23]:
input_file = "20210311_v0.2-FSI" # do not put file extension

df = pd.read_csv("{}.csv".format(input_file))

df.describe()

,Entity Registration Date,Entity Profile UEN,Entity Name,Primary Section Description
count,6613,6613,6613,6613
unique,346,6413,6606,1
top,2020-03-13,202030842M,UNBEATABLE PTE. LTD.,FINANCIAL AND INSURANCE ACTIVITIES
freq,62,3,2,6613

In [24]:
df

,Entity Registration Date,Entity Profile UEN,Entity Name,Primary Section Description
0,2020-01-09,53408118E,ST HOMES,FINANCIAL AND INSURANCE ACTIVITIES
1,2020-01-13,53408219W,AGNES OH ORGANISATION,FINANCIAL AND INSURANCE ACTIVITIES
2,2020-01-13,53408244X,ONE SG HOLDING,FINANCIAL AND INSURANCE ACTIVITIES
3,2020-01-14,53408260B,CARMINE MOON,FINANCIAL AND INSURANCE ACTIVITIES
4,2020-01-16,53408386B,1ST LG MONEY CHANGER,FINANCIAL AND INSURANCE ACTIVITIES
...,...,...,...,...
6608,2020-12-17,T20VC0183A,SEAVI ADVENT EQUITY VII FUND VCC,FINANCIAL AND INSURANCE ACTIVITIES
6609,2020-12-23,T20VC0185D,WELLINGTON MANAGEMENT FUNDS (SINGAPORE) VCC,FINANCIAL AND INSURANCE ACTIVITIES
6610,2020-12-23,T20VC0187G,PENCO CAPITAL VCC,FINANCIAL AND INSURANCE ACTIVITIES
6611,2020-12-23,T20VC0190G,RAINMAKING VENTURES (S) VCC,FINANCIAL AND INSURANCE ACTIVITIES
6612,2020-12-24,T20VC0192K,HERITAS CAPITAL VCC,FINANCIAL AND INSURANCE ACTIVITIES

In [59]:
import requests
import bs4
import re
from urllib.parse import urlparse

url = "https://www.google.com/search?q={}"
output_file = "{}-result.csv".format(input_file)
size = len(df) # size of df
for i in range(4, 5):
    entity = df.loc[i]
    entity_name = entity[2]
    query = "{} singapore website".format(entity_name)
    print("Searching for id={} \"{}\"".format(i, query))
    
    req = requests.get(url.format(query))
    soup = bs4.BeautifulSoup(req.text, "html.parser")
    headers = soup.find_all("h3")
#     links = soup.find_all("div", class_="kCrYT") # html class for google search

#     print(soup)
    links = soup.find_all(href=re.compile(r'\/url\?q='))
    
#     for link in links:
#         data = parse_qs(urlparse(link).query)
#         print(data)
    
#     print(links)

Searching for id=4 "1ST LG MONEY CHANGER singapore website"

NameError: name 'parse_qs' is not defined